*{
  margin: 0px;
  padding: 0px;
  /* outline: 1px solid red; */
}

body{
  background-color: whitesmoke;
  font-family: "Be Vietnam Pro", sans-serif;

}

/* ----------------------------------stage 2------------------------------------ */

.main-price-section{
    width: 85%;
    /* border: 1px solid red; */
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    /* margin: auto; */
    margin: 30px auto;

}

.price-para{
    max-width: 603px;
    padding-right: 30px;
    line-height: 20px;
    /* opacity: 0.7; */
    font-size: 15px;
}

.price-para p{
  line-height: 26px;
  color: #59595A;
}

/* ----------------------------------stage 3------------------------------------ */

#line{
    border: 1px solid #F1F1F3;
    margin-top: 30px;
}
.a{
    margin-inline: auto;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    
}

.time{
    display: flex;
    /* max-width: 160px; */
    /* gap: 5px; */
    padding: 15px 15px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.month a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 6px;
    font-size: small;

}

.month a:hover{
    background-color: #FF9500;
    color: #FFFFFF;
}

.price{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    margin-top: 50px;
}

.price-1{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.price-2{
    max-width: 825px;
}

.price-2 p{
padding-block: 10px;
}


.time{
    display: flex;
    /* gap: 5px; */
    padding: 15px 15px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.month a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 6px;
    font-size: small;

}

.month a:hover{
    background-color: #FF9500;
    color: #FFFFFF;
}

/* ------------------price card section------------------- */

.price-card{
    background-color: #FFFFFF;
    max-width: 85%;
    margin-inline: auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 50px 0px 50px 0px;
    border-radius: 7px;
    /* border: 1px solid green; */
}

.time-card{
    width: 45%;
    background-color: #F1F1F3;
    border-radius: 8px;
    /* margin-inline: auto; */
    padding-bottom: 15px;
}

.Plan{
    background-color: #FFEACC;
    padding: 10px;
    max-width: 90%;
    border-radius: 8px;
    text-align: center;
    /* margin-inline: auto; */
    margin: 25px auto;
}

.h1{
    display: flex;
    justify-content: center;
    align-items: last baseline;
    /* margin-top: 30px; */
    margin: 30px 0px 30px 0px;
}

.main-free-plan{
    background-color: #FFFFFF;
    max-width: 90%;
    margin-inline: auto;
    border-radius: 8px;
    padding: 15px 0px 0px 0px;
}

.main-free-plan h3{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.free-plan{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    /* background-color: #F1F1F3; */
    width: 90%;
    border: 1px solid #F1F1F3;
    margin-inline: auto;
    border-radius: 8px;
    gap: 10px;
    margin-bottom: 10px;
}

.price-button{
    /* border: 1px solid red; */
    text-align: center;
    padding: 15px;
    background-color: #FF9500;
    /* color: #FFFFFF; */
    border-radius: 0px 0px 10px 10px;
}

.price-button button{
    border: none;
    color: #FFFFFF;
    background-color: #FF9500;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}

.imgs{
  width: 33px;
}


.last-card-top-pra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  border-bottom: 1px solid #F1F1F3;
  margin-bottom: 30px;
}

.last-card-right-arow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #F7F7F8;
  border: 1px solid #F1F1F3;
  border-radius: 9px;
  margin: 20px 0px;
  line-height: 25px;
}

.last-card-heading {
  max-width: 330px;
  /* border: 1px solid red; */
  margin: 40px 0px 40px 40px;
}
.last-card-heading h1 {
  font-size: 38px;
}

.last-card-heading p {
  line-height: 25px;
  /* margin: 40px; */
  color: #333333;
}

.button-tag button {
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #F1F1F3;
  border-radius: 8px;
}

.last-card {
  padding: 30px;
  border: 1px solid #F1F1F3;
  border-radius: 9px;
}
.last-card p {
  line-height: 25px;
}

#p{
  color: #4C4C4D;

}

.last-two-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* width: 90%; */
  margin-inline: auto;
  border-radius: 9px;
  background-color: white ;
  margin-inline: auto;
  /* padding: 40px 0px; */
}

.last-full-card {
  /* margin: 40px 0px; */
  max-width: 650px;
  margin: 40px;
}
.course-percheing-card {
  margin: 50px 0px;
  max-width: 85%;
  margin-inline: auto;
}

.mark0s{
  max-width: 35px;
}



@media(max-width:768px){
/* 
  .button {
      display: none;
  } */
  
  
  .main-price-section{
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }
  
  .price-card{
      flex-direction: column;
      padding: 20px ;
      gap: 20px;
  }
  
  .time-card{
      width: 100%;
  }
  
  .last-two-card{
      flex-direction: column;
      /* display: block; */
  
  }
  
  .last-card-right-arow{
      justify-content: center;
  }
  
  .last-full-card {
      margin: 20px;
  }
  
  .footer-container{
      flex-direction: column;
      gap: 20px;
  }
  
  .sub-container-two{
      flex-direction: column;
      gap: 20px;
  }
  
  }