
*{
  margin: 0px;
  padding: 0px;
  /* outline: 1px solid red; */
}

body{
  background-color: whitesmoke;
  font-family: "Be Vietnam Pro", sans-serif;

}

.hero1{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  overflow: hidden;
  max-width: 600px;
  padding: 20px 0px;
  margin-inline: auto;

}

.hero{
  
  text-align: center; 

}

.Unlock{
  color: #FF9500;
  background-color: #FCFCFD;

}

.sub-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #FCFCFD;
  margin-inline: auto;
  padding: 5px  8px;
  margin-bottom: 5px;
  border-radius: 8px;
}

.text-hero{
  margin-bottom: 20px;
}

.sub-hero img{
  background-color: #FCFCFD;
}

.sub-hero h1{
  background-color: #FCFCFD;
}

.button2 {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button2 a{
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 20px 10px 20px ;
  color: #262626;
  background-color: #FCFCFD;
}

.button2 a:hover{
  background-color: #FF9500;
  color: #FFFFFF;
}


/* ----------------------------------------logo section--------------------------------- */
.logo-head{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  margin: 50px auto;
}

.logos{ 
  display: flex;
  justify-content: space-evenly;
  background-color: #FCFCFD;
  border-radius: 8px;
  padding: 20px;
  
}
.logos img{
  background-color: #FCFCFD;
  max-width: 50px;
  padding: 10px 20px; 
}

/* -----------------------video section----------------------------- */

.image img{
  max-width: 85%;
  margin: 100px; 
  display: block;
  margin: 0px auto 20px auto;
}

/* -----------------------------------------------benifit section--------------------------------------  */

.benifit{
  margin-top: 30px;
}

.benifit-view{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

.benifit-head{
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.benifit-text{
  max-width: 800px;
}

.benifit-text p{
  color: #262626;
  line-height: 25px;
}

.view a{
  text-decoration: none;
  display: block;
  padding: 8px 15px ;
  background-color: #FCFCFD;
  border-radius: 8px;
  font-size: 12px;
  color: #262626;

}




/* ---------------------benefit card section------------------- */

.benefits-cards{
  max-width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}


.benefit-card-01{
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.benefit-card-02{
  display: flex;
  gap: 15px;

}


.card{
  max-width: 300px;
  padding: 0px 35px 15px 35px;
  background-color: #ffffff;
  border-radius: 8px;
}

.card p{
  color: #4C4C4D;
  line-height: 25px;
}

.card-h1{
  display: flex;
  justify-content: end;
  font-size: 42px;
  /* background-color: #ffffff; */
}


.card-img{
  max-width: 20px;
  margin-top: 15px;
  padding: 10px;
  float: right;
  background-color: #F1F1F3; 
  border-radius: 8px;
}


/* -------------------------------courses section------------------------------- */

.courses{
  margin: 30px 0px 10px 0px;
  max-width: 85%;
  margin-inline: auto;
}

.courses-view{
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.courses-head{
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.courses-text{
  max-width: 900px;
}

.courses-text p{
  color: #262626;
  line-height: 26px;
}


/* --------------------card section--------------  */

.course-card-01{
  max-width: 600px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.design-card{
  background-color: #FFFFFF;
  padding: 15px 25px;
  border-radius: 8px;
  max-width: 600px;  
}

.design-card img{
  max-width: 100%;
  margin-bottom: 9px;

}

.week{
  margin-right: 10px;
  background-color: white;
  padding: 7px 10px;
  border-radius: 8px;

}

.ben{
  margin: 15px 0px 25px 0px;
}

.ben h4{
  margin-bottom: 10px;
}

.ben p{
  color: #4C4C4D;
  line-height: 26px;
}

.p{
  display: flex;

  gap: 20px ;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
}


.card01-course{
  display: flex;
  /* max-width: 85%; */
  justify-content: space-between;
  margin-inline: auto;
  gap: 25px;
  padding-top: 20px;
}

.course-button{
  background-color: #F7F7F8;
  border-radius: 8px;
}

.course-button a{
  display: flex;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 0px;
  color: #262626;
  background-color: #F7F7F8;
}

/* ---------------------test------------------ */
.testmonial{
  margin-top: 50px;
  max-width: 85%;
  margin-inline: auto;
}

.first-test-card{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.Sarah-l{
  background-color: #ffffff;
  max-width: 55 0px;
  border-radius: 8px;

}

.test-1-p{
  padding: 25px 20px ;
}

.test-1-p p{
  color: #4C4C4D;
  line-height: 26px;
}

.girl{

  display: flex;
  align-items: center;
}

.girl p{
  padding-left: 10px;
}

.girl img{
  max-width: 60px;

}

.img-sec{
  display: flex;
  background-color:  #F1F1F3;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 1px solid lightgrey;
  border-radius: 0px 0px 8px 8px;
}

.read{
  text-decoration: none;
  font-size: 15px;
  color: #262626  ;
  padding: 15px 20px;
  background-color: #F7F7F8;
  border-radius: 8px;
}


/* --------------------------------------------pricing section -------------------------- */

.view-pricing{
  padding:  15px 8px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.view-pricing a{
  
  text-decoration: none;
  color: #262626;
  font-size: 15px;
  padding: 9px 12px;
  border-radius: 8px ;
}

.view-pricing a:hover{
  background-color: #FF9500;
}

.pricing-view{
  margin-left: auto;
  margin-right: auto;
  margin-top: 69px;
  margin: 69px auto 20px auto;
  max-width: 85%;
}

.pricing-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing-text{
  max-width: 900px;    
}

/* --------------------------------pricing card section------------------------  */
  


.main-price{
  background-color: #FFFFFF;
  padding: 45px 25px;
  border-radius: 8px;
  margin-top: 20px;
}

.pricing{
  display: flex;
  gap: 20px;
  margin-inline: auto;
  max-width: 95%;

}

.price{
  background-color: #F1F1F3;
  width: 50%;
  border-radius: 8px;
}

.fee-text{
  text-align: center;
  padding: 10px;
  max-width: 85%;
  margin: 15px auto 20px auto;
  border-radius: 7px;
  background-color: #FFEACC;
}

.price-rate{
  display: flex;
  justify-content: center;
  align-items: last baseline;
}





.card-benifits{
  background-color: #FFFFFF;
  border-radius: 8px;
  max-width: 85%;
  margin: 18px auto;
  padding: 20px 0px 0px 0px;
}

.feature{
  text-align: center;
  margin-top: 15px;

}

.lists{
  max-width: 90%;
  margin: 15px auto ;
}

.list01{
  background-color: #F1F1F3;
  margin: 0px auto 8px auto;
  display: flex;
  padding: 8px;
  border: 1px solid #F1F1F3;
  gap: 10px;
  border-radius: 8px;

}

.list01 p{
  color: #4C4C4D;
  font-size: 14px;
}

.marks{
  max-width: 20px;
  height: 20px;
}

.button0{
  border-radius: 0px 0px 8px 8px;
  background-color: #FF9500;
}

.button1{
  padding: 15px;
  margin-inline: auto;
  display: flex;
  background-color: #FF9500;
  color: #FFFFFF;
  border: none;
}



       /* -------------------question section--------------------------  */





.last-card-top-pra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  border-bottom: 1px solid #F1F1F3;
  margin-bottom: 30px;
}

.last-card-right-arow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #F7F7F8;
  border: 1px solid #F1F1F3;
  border-radius: 9px;
  margin: 20px 0px;
  line-height: 25px;
}

.last-card-heading {
  max-width: 330px;
  /* border: 1px solid red; */
  margin: 40px 0px 40px 40px;
}
.last-card-heading h1 {
  font-size: 38px;
}

.last-card-heading p {
  line-height: 25px;
  /* margin: 40px; */
  color: #333333;
}

.button-tag button {
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #F1F1F3;
  border-radius: 8px;
}

.last-card {
  padding: 30px;
  border: 1px solid #F1F1F3;
  border-radius: 9px;
}
.last-card p {
  line-height: 25px;
}

#p{
  color: #4C4C4D;

}

.last-two-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-inline: auto;
  border-radius: 9px;
  background-color: white ;
  margin-inline: auto;
}

.last-full-card {
  max-width: 650px;
  margin: 40px;
}
.course-percheing-card {
  margin: 50px 0px;
  max-width: 85%;
  margin-inline: auto;
}

.mark0s{
  max-width: 35px;
}



/* //////////////////media quary///////////////////////// */

@media(max-width:768px){

  /* .button {
      display: none;
  }
  
  .login-button{
      justify-content: end;
      align-items: flex-end;
  } */
  
  .heading{
      font-size: 1px;
  } 

  /* .sub-hero h1{
    font-size: 10px;
  } */
  
  .sub-hero img{
      width: 40px;
  }
  
  .hero-heading {
      /* margin: auto; */
      width: 93%;
      margin-inline: auto;
  }

  .text-hero{
    font-size: 12px;
  }
  
.logos{
  padding: 20px;
}

.logos img{
  max-width: 50px;
  padding: 0px 0px; 
}

  #logos-non{
      display: none;
  }
  
  .benifit-head{
      flex-direction: column;
      gap: 20px;
  }
  
  .benefit-card-01{
      flex-direction: column;
  }
  
  .benefit-card-02{
      flex-direction: column;
  }
  
  .courses-head{
      flex-direction: column;
      gap: 20px;
  }
  
  .card01-course{
      flex-direction: column;
  }
  
  .p{
      flex-direction: column;
      align-items: flex-start;
  }
  
  .first-test-card{
      flex-direction: column;
  }
  
  .pricing-head{
      flex-direction: column;
      gap: 20px;
  }
  
  .pricing{
      flex-direction: column;
  }
  
  .price{
      width: 100%;
  }
  
  .main-price{
      padding: 25px 20px;
  }
  
  .list01{
      align-items: center;
  }
  
  .last-two-card{
      flex-direction: column;
      /* display: block; */
  
  }
  
  .last-card-right-arow{
      justify-content: center;
  }
  
  .last-full-card {
      margin: 20px;
  }
  
  
  .footer-container{
      flex-direction: column;
      gap: 20px;
  }
  
  .sub-container-two{
      flex-direction: column;
      gap: 20px;
  }
  
  }
  
  
  @media(max-width: 415px){
  
  
   #head-line{
      font-size: 13px;
      font-weight: 500;
  } 
  
  .arrow{
      margin-left: 0px;
  }
  
  
  .button2 a{
      font-size: 12px;
      padding: 8px 12px;
  }
  
  /* .heading{
      font-size: 10px;
  } */

  .logos{
    padding: 10px;
  }

  .logos img{
    max-width: 40px;
    padding: 0px 0px; 
  }
  
  }