*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

body{
    background-color: whitesmoke;
    font-family: "Be Vietnam Pro", sans-serif;

}

 /* -------------------------------------Container--------------------------------------  */
  
 .container01{
    width: 85%;
    margin: auto;
  }
  .inner-cont-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .text-heading{
    max-width: 800px;
    padding-block: 60px;
    font-size: 18px;
    /* border: 1px red solid; */
  }
  .text-paragraph{
    max-width: 700px;
    padding-block: 60px;
    color: #59595A;
    line-height: 22px;
    font-size: 16 px;
    /* border: 1px solid yellow; */  
  }
  #line{
   border: 1px solid #E4E4E7;
  }
  
  
  /* Contact-Section  */
  
  
  .full-hero-sec {
    max-width: 85%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    /* align-items: center; */
}

.input-detail-container {
    width: 65%;
    /* padding: 40px; */
    /* background-color: white; */
    border-radius: 9px 0px 0px 9px;
}


.half-input-container {
    margin-bottom: 20px;
}
.input-value {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-value input {
    padding: 12px 5px ;
    margin-top: 5px;
    border: 1px solid #F1F1F3;
    background: #FCFCFD;
    border-radius: 7px;
}

.input {
    width: 100%;
}

.input input{
    width: 100%;
}

.subject input {
    padding: 14px 0px 40px 12px;

}

.message input {
    padding: 14px 0px 60px 12px;
}

.send-message button{
    display: flex;
    justify-content: center;
    margin-inline: auto;
    text-align: center;
    padding: 14px 18px;
    border: 1px solid #F1F1F3;
    background: #FF9500;
    border-radius: 8px;
    color: white;
}

/* -------- contact-container  ------- */

.contact-container {
    /* max-width: 35%; */
    gap: 40px;
    border-radius: 0px 9px 9px 0px;

}

.sub-contact {
    width: 260px;
    height: 120px;
    display: block;
    padding: 20px;
    margin-inline: auto;
    margin-bottom: 30px;
    background: #FCFCFD;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
}

.sub-contact img {
    padding: 5px;
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    border-radius: 5px;
    margin-bottom: 5px;
}


@media(max-width:768px){

    /* .button {
        display: none;
    } */

    .inner-cont-text{
        flex-direction: column;
        align-items: flex-start;
    }

    .text-heading{
        padding-block: 0px;
        margin-top: 30px;
    }

    .text-paragraph{
        padding-block: 0px;
    }

  

    .full-hero-sec{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .input-detail-container{
        width: 100%;
    }

    .input-value{
        flex-direction: column;
    }

   
    /* footer */

.footer-container{
    flex-direction: column;
    gap: 20px;
}

.sub-container-two{
    flex-direction: column;
    gap: 20px;
}

}