
*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

body{
    background-color: whitesmoke;
    font-family: "Be Vietnam Pro", sans-serif;

}

.login-here{
    max-width: 85%;
    margin-inline: auto;
    margin-top: 30px;
    /* display: flex; */

}

.login-contener{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

/* .login-contener{ */

    /* padding: 100px; */
/* } */

.para-contenat{
    max-width: 55%;
}

.para-contenat h2{
    margin-bottom: 10px;
}

.parac{
  color: #59595A;
}

.intro-card-1{
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px;

}

.intro-para p{
    padding: 20px 25px;
    color: #4C4C4D;
}

.img-person{
    /* display: flex;
    align-items: center;
    padding: 20px; */
    display: flex;
    align-items: center;
    gap: 10px;

}

.img-person img{
    max-width: 50px;
}

.intro-img{
    display: flex;
    padding: 20px 25px;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFD;

    border-top: 1px solid #f1f1f8;

    border-radius: 8px;

    
}

.intro-button button{
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
}

.arrow-img{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    gap: 10px;
}

/* -----------------login card----------- */

.log{
    max-width: 36%;
    padding: 20px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.login-card{
    line-height: 30px;
}

.login-card h2{
    text-align: center;
}

.well-back {
    text-align: center;
    font-size: 16px;
    color: #4C4C4D;
    line-height: 26px ;
}


.email1 input{
    padding: 10px 5px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #f1f1f3;

}


.login-from{
    padding-block: 20px;
}

.email1{
    margin-bottom: 20px;
}

#pass{
    /* text-align: end; */
    display: flex;
    justify-content: right;
    /* border: 10px solid red; */
    text-decoration: none;
    color: black;
}


.cheak-box{
    display: flex;
    gap: 8px;
    /* padding-block: 10px; */
    margin-top: 15px;
}

.log-button {
    padding: 5px;
    text-align: center;
    /* border: 1px solid red; */
    border-radius: 8px;
    margin-top: 10px;
    background-color: #FF9500;

}

.log-button a{
    text-decoration: none;
    color: #FFFFFF;
    /* text-align: center; */
}


.log-button02 {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    /* border: 1px solid red; */
    border-radius: 8px;
    margin-top: 10px;
    background-color: #f1f1f3;

}

/* OR Line  */

.border-line{
    padding-block: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-line *{
    position: absolute;
}

.border-line hr{
    border: 1px solid #E4E4E7;
    width: 100%;
}

.border-line p{
    font-size: 12px;
    background: #FFFFFF;
    color: rgb(184,183,183);
    padding-inline: 5px;
}

.log-button02 a{
    text-decoration: none;
    color: black;
}

.for-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.for-signup a{
    color: black;
}

.for-signup img{
    width: 20px;
}



@media(max-width:768px){

    /* .button {
        display: none; 
    } */

    .login-contener{
        flex-direction: column-reverse;
        align-items: flex-start;
        max-width: 100%;
    }

    .para-contenat{
        max-width: 100%;
    }

    .log{
        max-width: 100%;
    }

    .arrow-img{
        justify-content: center;
    }

    /* footer */

.footer-container{
    flex-direction: column;
    gap: 20px;
}

.sub-container-two{
    flex-direction: column;
    gap: 20px;
}


}